<!-- mat-toolbar faz parte do material -->
<mat-toolbar color="" class="cabecalho mat-elevation-z2"> <!-- mat-elevation-z2 é uma classe do material para elevação -->
    <span>
        <a>
            <img class="logo" src="assets/img/nerd2.png" alt="logo">
        </a>
    </span>
    <span class="grupo-titulo">
        <a>
            <i class="material-icons">
                home       <!-- Nome do icon em inglês -->
            </i>
            Aplicação CRUD
        </a>
    </span>
</mat-toolbar>
